.header {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    column-gap: 20px;
    background: transparent;
}

.selectedQuiz {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.selectedQuizIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    width: 54px;
    border-radius: 10px;
}

.selectedQuizIcon svg {
    font-size: 36px;
}

.selectedQuizText {
    letter-spacing: 1px;
}